// name that color names
$link-water: #F5F8FD;
$botticelli: #CBD4E2;
$oslo-gray: #8C9193;
$mystic: #E5EAF0;
$white: #FFFFFF;
$casper: #BAC6D8;
$mystic-2: #DDE3EC;
$mystic-3: #EEF1F5;
$abbey: #484F53;
$mirage: #1A2328;
$nevada: #5F6569;
$silver-sand: #C6C8C9;
$aqua-haze: #F6F8FA;
$tall-poppy: #BC2626;
$pomegranate: #EF3232;
$lochmara: #0088DA;